/* <style>
@media(min-width:768px){
    
} */

body{
    background:url("../images/bkimage.jpg"); 
    background-repeat: no-repeat;
    background-size: 15%; 
    background-attachment: scroll;
    background-position: left top; 
    background-color: cornsilk; 
    }

.container {
    display: flex;
    flex-direction: column;
}


.aboutme {
    align-self: center;
    color: blue;
    justify-content: space-between;
}

.hobbies {
    align-self: center;
    color:blue;
    justify-content: space-between;
}

.head {
    position:absolute;
    top:0;
    right:0;
    color: blue;
}

.position {
    text-align: center;
    color: blue;
    

}

.footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;

}


