body{
    background:url("../images/bkimage.jpg"); 
    background-repeat: no-repeat;
    background-size: 25%; 
    background-attachment: fixed;
    background-position: left top;   
}

.container {
    
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(8, 1fr);
}

.head {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid rgb(48, 14, 201);
    padding: 10px;

}

.position {
    background-color: green;
    text-align: center;
    

}

.aboutme, .hobbies  {
  /* background-color: coral;
  justify-content: center;
  display: flex;
  float: left; */
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-position: center;
  background-color: coral;
}

/* .hobbies {
    background-color: brown;
    background-position: center;
} */

.footer {
    /* display: flex; */
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;

}

h1 {
    
    float: right;
}

p {
    background-color: blueviolet;
}

h2 {
    background-color: aqua;
}